body {
    background-image : url("./Images/body_background.jpg");
    margin: 0;
    padding: 0;
}

.InterfaceContainer {
    margin: 0 auto;
    width: 400px;
    height: 700px;
    background-image : url("./Images/background.png");
    border: 2px solid wheat;
    border-radius: 22px;
}

.HeadContainer {
    width: 400px;
    height: auto;
    margin: 0 auto;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
   
}

#ExitButton,
#SoundButton,
#MainTitle {
    background-color: transparent;
    border: 0;
    font-size: 40px;
    display: inline;
    color: limegreen;
}



.MainContainer,
.QuizContainer,.ResultContainer {
    width: auto;
    height: auto;
    margin-top: 5px;
    background-image : url("./Images/background.png");
    
}

.CategoryContainer,
.ModeContainer {
    display: flex;
    justify-content: space-between;
}

.Cat,
.Mode {
    font-size: 35px;
    padding: 5px;
    margin: 3px;
    color: limegreen;
    background: transparent;
    
}

.PlayContainer {
    margin-top: 50px;
    text-align: center;
    
}

#PlayButton {
    font-size: 60px;
    color: limegreen;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}

.ScoreContainer {
    display: flex;
    justify-content: space-around;
}

#CurrentScore,
#Progress,#timer {
    font-size: 50px;
    color:	#F09A93;
}

#scoreIcon {
    width: 50px;
    height: 50px;
}

.QuestionContainer {
    width: 90%;
    height: auto;
    margin: 10px auto;
    text-align: center;
    border: 2px solid limegreen;
}

#CurrentQuestion {
    padding: 4px;
    font-size: 24px;
    font-style: italic;
    color: limegreen;
}

.AnswersContainer {
    display: flex;
    justify-content: space-around;
}

.AnswerButton {
    width: 40%;
    margin: 18px;
    font-size: 26px;
    color: limegreen;
    background: transparent;
    border-radius: 16px;
}

.SubmitButtonContainer {
    margin-top: 50px;
    text-align: center;
    
}

#SubmitAnswer {
    font-size: 50px;
    color: limegreen;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}


/* Result screen CSS */

.ResultContainer {

text-align: center;
color: limegreen;
font-size: 35px;
}

#returnHomeButton,#restartButton {
    font-size: 44px;
    color: limegreen;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    padding: 15px;
    margin:15px;

}


.active {
    background:gold;  
    color: black; 
}

button:hover {
    cursor: pointer ;
}

